# Lab: NumPy and Pandas

### 1. Pandas

* Read in file `life_expectancy_data.csv`

In [2]:
import pandas as pd
import os

led = pd.read_csv('life_expectancy_data.csv')

<bound method NDFrame.head of           Country  Year      Status  Life expectancy   Adult Mortality  \
0     Afghanistan  2015  Developing              65.0            263.0
1     Afghanistan  2014  Developing              59.9            271.0
2     Afghanistan  2013  Developing              59.9            268.0
3     Afghanistan  2012  Developing              59.5            272.0
4     Afghanistan  2011  Developing              59.2            275.0
...           ...   ...         ...               ...              ...
2933     Zimbabwe  2004  Developing              44.3            723.0
2934     Zimbabwe  2003  Developing              44.5            715.0
2935     Zimbabwe  2002  Developing              44.8             73.0
2936     Zimbabwe  2001  Developing              45.3            686.0
2937     Zimbabwe  2000  Developing              46.0            665.0

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
0                62     0.01               71.279624         65.0      1154
1                64     0.01               73.523582         62.0       492
2                66     0.01               73.219243         64.0       430
3                69     0.01               78.184215         67.0      2787
4                71     0.01                7.097109         68.0      3013
...             ...      ...                     ...          ...       ...
2933             27     4.36                0.000000         68.0        31
2934             26     4.06                0.000000          7.0       998
2935             25     4.43                0.000000         73.0       304
2936             25     1.72                0.000000         76.0       529
2937             24     1.68                0.000000         79.0      1483

      ...  Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  \
0     ...    6.0               8.16         65.0        0.1  584.259210
1     ...   58.0               8.18         62.0        0.1  612.696514
2     ...   62.0               8.13         64.0        0.1  631.744976
3     ...   67.0               8.52         67.0        0.1  669.959000
4     ...   68.0               7.87         68.0        0.1   63.537231
...   ...    ...                ...          ...        ...         ...
2933  ...   67.0               7.13         65.0       33.6  454.366654
2934  ...    7.0               6.52         68.0       36.7  453.351155
2935  ...   73.0               6.53         71.0       39.8   57.348340
2936  ...   76.0               6.16         75.0       42.1  548.587312
2937  ...   78.0               7.10         78.0       43.5  547.358878

      Population   thinness  1-19 years   thinness 5-9 years  \
0     33736494.0                   17.2                 17.3
1       327582.0                   17.5                 17.5
2     31731688.0                   17.7                 17.7
3      3696958.0                   17.9                 18.0
4      2978599.0                   18.2                 18.2
...          ...                    ...                  ...
2933  12777511.0                    9.4                  9.4
2934  12633897.0                    9.8                  9.9
2935    125525.0                    1.2                  1.3
2936  12366165.0                    1.6                  1.7
2937  12222251.0                   11.0                 11.2

      Income composition of resources  Schooling
0                               0.479       10.1
1                               0.476       10.0
2                               0.470        9.9
3                               0.463        9.8
4                               0.454        9.5
...                               ...        ...
2933                            0.407        9.2
2934                            0.418        9.5
2935                            0.427       10.0
2936                            0.427        9.8
2937                            0.434        9.8

[2938 rows x 22 columns]>

* Rename columns

1. Make them all lower case, remove all hyphens, whitespace, and slashes.
2. Make "Income composition of resources" --> "composition", and "BMI" --> "avg_bmi".
3. Change the name of "under-five deaths" to something else of your choosing.

In [8]:
led.dtypes
led2 = led.rename(columns={
    'Life expectancy': 'LE', 
    'Adult Morality':'AM', 
    'infant deaths': 'ID', 
    'percentage expenditure':'PE', 
    'Hepatitis B': 'HepB', 
    'under-five deaths':'U5dead', 
    'Total expenditure': 'TE', 
    ' HIV/AIDS':'HIV',   # Check for extra spaces here
    ' BMI': 'BMI',       # Check for extra spaces here
    ' thinness  1-19 years':'thinU20',  # Check spacing here
    ' thinness  5-9 years': 'thin59',   # Check spacing here
    'Income composition of resources':'ICR'
})

led2.head()

,Country,Year,Status,Life expectancy,Adult Mortality,ID,Alcohol,PE,HepB,Measles,...,Polio,TE,Diphtheria,HIV,GDP,Population,thinU20,thinness 5-9 years,ICR,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

* Feature engineering

1. Combine the two "thinness" variables somehow
2. Transform the GDP and Population variables somehow
3. Make country and status variables into dummies. Give them a prefix of 'dum' to keep track of them
4. Combine GDP and one of the expenditure variables into a new variable

In [7]:
# YOUR CODE HERE

In [3]:
# to access all your dummy cols
le_df[[col for col in le_df if col.startswith('dum')]]

* Summarize data

1. How many observations are there for developing countries?
2. Drop all observations with missing values. How many rows were there before and how many are there now?
3. How old is the oldest observation?

In [ ]:
# YOUR CODE HERE

* Generate outputs

1. Export the new dataset as a CSV in your lab folder.
2. Keep the following columns in a new dataset called `le2`: all your engineered features plus Life Expectancy, Schooling, GDP, total expenditures, and BMI. Drop everything else.

In [133]:
# YOUR CODE HERE

### 2. NumPy

* Define the following NumPy arrays:
    1. `X`, containing the `schooling` and `gdp` variables in `le2`
    2. `y`, containing only the life expectancy variable

In [4]:
# YOUR CODE HERE

* Regression by hand
    1. Using linear algebra operations, perform OLS to estimate $\beta = (X^TX)^{-1}X^TY$. What is the coefficient estimate for the effect of schooling on life expectancy?

In [5]:
# YOUR CODE HERE

### 3. Random Forest

* Train a random forest classifier to predict whether a country is "developed" in a given year based on all the other features, including life expectancy.

In [6]:
# YOUR CODE HERE

* **Bonus:** Can you figure out how to extract feature importance from the classifier?